@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('../src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Noto Serif Lao', serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;